In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib as plt

In [3]:
movie_df = pd.read_csv('./data/IMDB-Movie.csv', index_col='Rank')

In [4]:
movie_df.head()

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [5]:
print(len(movie_df['Director'].unique()))

644

In [6]:
min_runtime = movie_df['Runtime (Minutes)'].min()

title = movie_df[movie_df['Runtime (Minutes)'] == min_runtime]['Title']
print(title)

Rank
794    Ma vie de Courgette
Name: Title, dtype: object

In [7]:
longest_movie = movie_df['Runtime (Minutes)'].max()

print(movie_df[movie_df['Runtime (Minutes)'] == longest_movie]['Director'])

Rank
829    Robert Rodriguez
Name: Director, dtype: object

In [8]:
print(len(movie_df[movie_df['Director'] == 'Ridley Scott']))

8

In [9]:
highest_rated = movie_df['Rating'].max()
lowest_rated = movie_df['Rating'].min()

print(movie_df[movie_df['Rating'] == highest_rated]['Title'])
print(movie_df[movie_df['Rating'] == lowest_rated]['Title'])

Rank
55    The Dark Knight
Name: Title, dtype: object
Rank
830    Disaster Movie
Name: Title, dtype: object

In [10]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               1000 non-null   object
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 93.8+ KB

In [11]:
movie_df.shape

(1000, 11)

In [12]:
movie_df.columns

Index(['Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [13]:
movie_df.rename(columns={'Runtime (Minutes)': 'Runtime_minutes', 'Revenue (Millions)': 'Revenue_millions'}, inplace=True)

movie_df.columns

Index(['Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime_minutes', 'Rating', 'Votes', 'Revenue_millions', 'Metascore'],
      dtype='object')

In [14]:
movie_df.columns = [col.lower() for col in movie_df]
movie_df.columns

Index(['title', 'genre', 'description', 'director', 'actors', 'year',
       'runtime_minutes', 'rating', 'votes', 'revenue_millions', 'metascore'],
      dtype='object')

In [15]:
new_df = movie_df.copy()
new_df.isnull().sum()

title                 0
genre                 0
description           0
director              0
actors                0
year                  0
runtime_minutes       0
rating                0
votes                 0
revenue_millions    128
metascore            64
dtype: int64

In [16]:
drop_df = movie_df.copy()
drop_df.dropna(inplace=True)

In [17]:
drop_df.shape

(838, 11)

In [18]:
new_df.reset_index(inplace=True)

In [19]:
new_df.set_index('title', inplace=True)
new_df.head()

,Rank,genre,description,director,actors,year,runtime_minutes,rating,votes,revenue_millions,metascore
title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [20]:
revenue = new_df['revenue_millions']

In [21]:
revenue

title
Guardians of the Galaxy    333.13
Prometheus                 126.46
Split                      138.12
Sing                       270.32
Suicide Squad              325.02
                            ...
Secret in Their Eyes          NaN
Hostel: Part II             17.54
Step Up 2: The Streets      58.01
Search Party                  NaN
Nine Lives                  19.64
Name: revenue_millions, Length: 1000, dtype: float64

In [22]:
revenue_mean = revenue.mean()
revenue_mean

82.95637614678898

In [23]:
revenue.fillna(revenue_mean, inplace=True)
revenue.isna().sum()

0

In [24]:
new_df['revenue_millions'] = revenue
new_df.isna().sum()

Rank                 0
genre                0
description          0
director             0
actors               0
year                 0
runtime_minutes      0
rating               0
votes                0
revenue_millions     0
metascore           64
dtype: int64

In [25]:
new_df.groupby('genre')['metascore'].median()
new_df['metascore'] = new_df.groupby('genre')['metascore'].transform(lambda x: x.fillna(x.median()))
new_df.isna().sum()

Rank                0
genre               0
description         0
director            0
actors              0
year                0
runtime_minutes     0
rating              0
votes               0
revenue_millions    0
metascore           7
dtype: int64

In [26]:
metascore_median = new_df['metascore'].median()

new_df['metascore'].fillna(metascore_median, inplace=True)

In [27]:
new_df.isna().sum()

Rank                0
genre               0
description         0
director            0
actors              0
year                0
runtime_minutes     0
rating              0
votes               0
revenue_millions    0
metascore           0
dtype: int64